body {
    background-color: black;
    color: #f7f2f2;
    font-family: Arial, sans-serif;
}

header {
    background-color: #031414;
    color: #f60404;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

.slider {
    position: relative;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    vertical-align: middle;
}

/* Slider navigation buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.next { 
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}

.custom-section {
    width: 90%;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #210303;
    border-radius: 10px;
    background-color: rgba(4, 27, 33, 0.681);
}

.custom-section h1, .custom-section h2 {
    background-color: #031414;
    color: #f60404;
    padding: 10px;
    border-radius: 5px;
}

.services-section {
    width: 90%;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid 
}